@model WellItemParameter

<tr>
	<th>@Model.Name</th>
	<td>@Html.DisplayFor(p => p.Minimun)</td>
	<td>@Html.DisplayFor(p => p.Maximun)</td>
	<td>@Html.DisplayFor(p => p.Average)</td>
	<td>@Html.DisplayFor(p => p.Median)</td>
</tr>
